* { box-sizing: 
    border-box; 
  }
  html, body {
      padding: 0;
      margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  .overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    z-index: 99997;
  }
  .counter {
    position: relative;
    z-index: 2;
    font-size: 10vw;
    color: #FFF;
  }
  .counter.ready {
    color: red;
  }
  
  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    background: rgb(255 255 255 / 3%);
  }
  
  
  .container {
    max-width: 900px;
    margin: 7% auto;
  }



  /* home page*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  background:#000;
}

#menu-btn {
  position:fixed;
  font-weight:400;
  top:40px;
  right:40px;
  margin:10px;
  font-size:22px;
  padding:8px 16px;
  color:#fff;
  background:rgba(255,255,255,0.3);
  border-radius:11px;
  cursor:default;
}

menu {
  position:fixed;
  top:40px;
  right:40px;
  border-radius:11px;
  overflow:hidden;
}

.menu-bg {
  position:absolute;
  width:100%;
  height:100%;
  background:#f00;
}

.menu-contents {
  position:relative;
  width:100%;
  height:100%;
  list-style-type: none;
  background:skyblue;
  padding:50px 40px;  
}

button {
  font-family: 'Poppins', sans-serif;
  font-size:40px;
  line-height:31px;
  background:none;
  border:none;
  cursor:pointer;
  padding:0;
}

.section-btn button {
  border-bottom:solid 2px transparent;
  margin:10px 0;
  padding:3px 0; 
}

.btn-area {
  display: block;
  overflow: hidden;
}

.btn-txt {
  display: inline-block;
}

.social-btn {
  display:inline-block;
}

.social-btn button {
  width:28px;
  height:28px;
  margin:30px 18px 0 0;
}

.social-btn button svg{
  overflow:visible;
}
